
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Joke</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href={% static "vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "assets/css/index-dev.css" %} >
    <link rel="stylesheet" href={% static "assets/css/animated.css" %} >
    <link rel="stylesheet" href={% static "assets/css/owl.css" %} >

  </head>

<body>
  {% load static %}

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
                <h3 style="display: inline;">BOT</h3>
              <!--add my logo here-->
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#aboutcount">Count</a></li>              
              <li class="scroll-to-section"><a href="#newsletter">Newsletter</a></li>
              </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  
  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>

    
</div>

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Get The Latest Joke From Stored List</h2>
                    <p>This webpage will display a joke on chosen button</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <!--form for stupid-->
                      <form action="push/" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="keyword" value="stupid">
                      <button >Stupid <i class="fab fa-google-play"></i></button>
                      </form>
                    </div>
                    <div class="white-button scroll-to-section">
                      <!--form for fat-->
                      <form action="push/" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="keyword" value="fat">
                      <button>Fat <i class="fab fa-google-play"></i></button>
                      </form>
                    </div>
                    <div class="white-button scroll-to-section">
                      <!--form for dumb-->
                      <form action="push/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="keyword" value="dumb">
                        <button>Dumb <i class="fab fa-google-play"></i></button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src={% static "assets/images/slider-dec.png" %} alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <div id="aboutcount" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>About <em>COUNT</em> &amp; Select From Below</h4>
            <img src={% static "assets/images/heading-line-dec.png" %} alt="">
            <p>Choose any one radio button to retrieve number of attempts on that button.</p>
          </div>
          <form action="count/" method="POST">
            {% csrf_token %}
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <input type="radio" id='getstupid' name="getcount" value="stupid"  checked>
                <h4><label for="getstupid" >Stupid Count</a></h4>
                <!--<p>Stupid clicks</p>-->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <input type="radio" id='getfat' name="getcount" value="fat">
                <h4><label for="getfat">Fat Count </a></h4>
                <!--<p>Fat clicks</p>-->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <input type="radio" id='getdumb' name="getcount" value="dumb">
                <h4><label for="getdumb">Dumb Count </a></h4>
                <!--<p>Dumb clicks</p>-->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <input type="radio" id='getall' name="getcount" value="all">
                <h4><label for="getall">All</label></h4>
                <!--<p>All clicks</p>-->
              </div>
            </div>
            <div class="col-lg-12">
              
              <div class="gradient-button">
                <input type="submit" name='GET' value="GET" style="background: linear-gradient(
105deg
, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 100%); font-size: 15px; border-radius: 23px; font-family: 'Times New Roman', Times, serif;">
             <!--<button style="background-color: green;">GET</button>-->  
            </div >
              <span style="display:none;">*Click to display</span>
            </div>
          </form>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src={% static "assets/images/about-right-dec.png" %} alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  

  

  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Join my mailing list to receive the latest news</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Connect Me <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Me</h4>
            <p>Bangalore</p>
            <p><a href="#">70197599913</a></p>
            <p><a href="#">vrushabhendra661@gmail.com</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Count</a></li>
            </ul>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="https://chatbotsmagazine.com/creating-a-simple-bot-server-using-python-django-and-django-channels-69fa3b775f2">Bot</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="https://www.makeuseof.com/best-discord-bots-organized-server/amp/">Best Dicord Bots</a></li>
              <li><a href="https://discover.bot/bot-talk/building-bots-for-discord/">Guide</a></li>
              <li><a href="https://www-freecodecamp-org.cdn.ampproject.org/v/s/www.freecodecamp.org/news/make-a-discord-bot-that-talks-like-rick-sanchez/amp/?amp_js_v=a6&amp_gsa=1#referrer=https%3A%2F%2Fwww.google.com&amp_tf=From%20%251%24s&ampshare=https%3A%2F%2Fwww.freecodecamp.org%2Fnews%2Fmake-a-discord-bot-that-talks-like-rick-sanchez%2F">Chat Bot</a></li>
              <li><a href="https://dev.to/abh1navv/creating-a-twitter-bot-with-javascript-and-repl-it-1gbf">Twitter Bot</a></li>
              <li><a href="https://news.emory.edu/features/2021/08/esc-emora-ai-alexa/index.html"> News</a></li>
            </ul>
            <ul>
              <li><a href="https://www.analyticsvidhya.com/blog/2021/08/build-an-end-end-currency-convertor-chatbot-with-python-and-dialogflow/">Currency coverter Bot</a></li>
              <li><a href="https://towardsdatascience.com/how-to-build-your-own-ai-chatbot-on-discord-c6b3468189f4">Digital AI Bot</a></li>
              <li><a href="https://botup.com/ai-chatbot-app">Normal Apps</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Me</h4>
            <div class="logo">
              <img src={% static "assets/images/developermain.PNG" %} alt="">
            </div>
            <h4>VRUSHABHENDRA KUMAR K N</h4>
            <h6>DEVELOPER</h6>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2021 Vrushabhendra Kumar K N. All Rights Reserved. 
          <br>MORE: <a href="https://vrushabhendra.pythonanywhere.com/" target="_blank" title="css templates"> Visit My Portfolio</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  {% load static %}
  <script src={% static "vendor/jquery/jquery.min.js" %} ></script>
  <script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %} ></script>
  <script src={% static "assets/js/owl-carousel.js" %} ></script>
  <script src={% static "assets/js/animation.js" %} ></script>
  <script src={% static "assets/js/imagesloaded.js" %} ></script>
  <script src={% static "assets/js/popup.js" %} ></script>
  <script src={% static "assets/js/custom.js" %} ></script>
</body>
</html>